{% load static %}
<!--section -->
<section  data-scrollax-parent="true" id="sec6">
    <div class="section-subtitle"  data-scrollax="properties: { translateY: '-250px' }" >Testimonials<span>//</span></div>
    <div class="container">
        <div class="section-title fl-wrap">
            <h3>Reviews</h3>
            <h2>My Clients and <span>Testimonials</span></h2>
            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.  </p>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--slider-carousel-wrap -->
    <div class="slider-carousel-wrap text-carousel-wrap fl-wrap">
        <div class="text-carousel-controls fl-wrap">
            <div class="container">
                <div class="sp-cont  sp-cont-prev"><i class="fal fa-long-arrow-left"></i></div>
                <div class="sp-cont   sp-cont-next"><i class="fal fa-long-arrow-right"></i></div>
            </div>
        </div>
        <div class="text-carousel cur_carousel-slider-container fl-wrap">
            <!--slick-item -->
            <div class="slick-item">
                <div class="text-carousel-item">
                    <div class="popup-avatar"><img src="{% static 'images/avatar/1.jpg' %}" alt=""></div>
                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                    <div class="review-owner fl-wrap">Milka Antony  - <span>Happy Client</span></div>
                    <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."</p>
                    <a href="#" class="testim-link">Via Facebook</a>
                </div>
            </div>
            <!--slick-item end -->
            <!--slick-item -->
            <div class="slick-item">
                <div class="text-carousel-item">
                    <div class="popup-avatar"><img src="{% static 'images/avatar/2.jpg' %}" alt=""></div>
                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                    <div class="review-owner fl-wrap">Milka Antony  - <span>Happy Client</span></div>
                    <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."</p>
                    <a href="#" class="testim-link">Via Facebook</a>
                </div>
            </div>
            <!--slick-item end -->
            <!--slick-item -->
            <div class="slick-item">
                <div class="text-carousel-item">
                    <div class="popup-avatar"><img src="{% static 'images/avatar/3.jpg' %}" alt=""></div>
                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                    <div class="review-owner fl-wrap">Milka Antony  - <span>Happy Client</span></div>
                    <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."</p>
                    <a href="#" class="testim-link">Via Facebook</a>
                </div>
            </div>
            <!--slick-item end -->
            <!--slick-item -->
            <div class="slick-item">
                <div class="text-carousel-item">
                    <div class="popup-avatar"><img src="{% static 'images/avatar/4.jpg' %}" alt=""></div>
                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                    <div class="review-owner fl-wrap">Milka Antony  - <span>Happy Client</span></div>
                    <p> "In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."</p>
                    <a href="#" class="testim-link">Via Facebook</a>
                </div>
            </div>
            <!--slick-item end -->
        </div>
    </div>
    <!--slider-carousel-wrap end-->
</section>
<!-- section end -->